@use "../helpers"as *;


/*---------HEADER (START)--------*/
.header {
    z-index: 100;
    // position: sticky;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-block: 52px;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;

    &__menu {
        &-list {
            display: flex;
            align-items: center;
            column-gap: 40px;
        }

        &-link {
            position: relative;
            text-decoration: none;
            padding-bottom: 7px;


            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 3px;
                background-color: var(--color-white);
                transition: width 0.2s ease-out;

            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}


/*---------HEADER (END)--------*/