@use "../helpers"as *;

.icon {
    display: inline-flex;
    align-items: center;
    column-gap: 20px;

    &::after {
        --size: 16px;

        @include square(var(--size));

        content: '';
        flex-shrink: 0;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &--arrow {
        &::after {
            background-image: url('../../icons/arrow-top-right.svg');
        }
    }

    &--ellipse {
        column-gap: 30px;

        &::after {
            background-image: url('../../icons/ellipse.svg');
        }
    }
        &--down {
        

        &::after {
            background-image: url('../../icons/arrow-down.svg');
        }
    }

    &--arrow-left {
        cursor: pointer;

        &::after {
            height: 64px;
            width: 32px;

            background-image: url('../../icons/arrow-left.svg');

            @include mobile {
                height: 24px;
                width: 12px;

            }
        }
    }

    &--arrow-right {
        cursor: pointer;

        &::after {
            height: 64px;
            width: 32px;
            background-image: url('../../icons/arrow-right.svg');
             @include mobile {
                height: 24px;
                width: 12px;

            }
        }
    }

}