@use "../helpers"as *;

// .marquee {
//     display: flex;
//     width: fit-content;
//     will-change: transform;
//     animation: marquee 40s linear infinite;



//     @include tablet {
//         margin-bottom: 120px;
//     }

//     @include mobile {
//         margin-bottom: 35px;
//     }

//     &-text {
//         text-transform: uppercase;
//         white-space: nowrap;
//         padding-right: 30px;
//         flex-shrink: 0;

//     }
// }

// @keyframes marquee {
//     0% {
//         transform: translateX(0);
//     }

//     100% {
//         transform: translateX(-50%);
//     }
// }
// .marquee {
//     display: flex;
//     width: fit-content;
//     will-change: transform;
//     animation: marquee-left 40s linear infinite;

//     &.reverse {
//         animation: marquee-right 40s linear infinite;
//     }

//     &-text {
//         text-transform: uppercase;
//         white-space: nowrap;
//         padding-right: 30px;
//         flex-shrink: 0;
//     }

//     @include tablet {
//         margin-bottom: 120px;
//     }

//     @include mobile {
//         margin-bottom: 35px;
//     }
// }

// @keyframes marquee-left {
//     0% {
//         transform: translateX(-2%);
//     }

//     100% {
//         transform: translateX(-50%);
//     }
// }

// @keyframes marquee-right {
//     0% {
//         transform: translateX(-50%);
//     }

//     100% {
//         transform: translateX(-2%);
//     }
// }
.marquee {
    display: flex;
    width: fit-content;
    will-change: transform;
    white-space: nowrap;
}

.marquee-text {
    text-transform: uppercase;
    padding-right: 30px;
    flex-shrink: 0;
}