@use "../helpers"as *;

.scroll-section {
    position: relative;
}

// .pin-container .container {
//     position: relative;
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
// }



.pin-container {
    position: relative;
    height: 100vh;
    min-height: 730px;
    overflow: hidden;
}

.pin-container__image-wrapper.mySwiper2 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-wrapper .image {
    height: 100vh;
    transition: opacity 0.5s ease-in-out;


    picture {
        display: block;
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.mySwiper.pin-container__info-box {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-base);
    padding: 40px;
    column-gap: 40px;
    text-align: center;

    @include mobile {
        position: absolute;
        top: 50%;
        left: 50%;
        bottom: auto;
        transform: translate(-50%, -50%);
        width: 91%;
        padding: 65px 12px;
    }
}



.mySwiper .info-content {
    display: flex;

    &__right {
        width: 37.5vw;
        padding-top: 70px;
        position: relative;

        @include tablet {
            width: 350px;
        }

        @include mobile {
            padding-top: 76px;
            width: 100%;
        }
    }


    .h3 {

        margin-bottom: 40px;
        font-weight: 200;
        font-size: 32px;
        line-height: 1.5625;

        @include tablet {
            margin-bottom: 20px;
        }

        @include mobile {
            margin-bottom: 40px;
            font-size: 20px;
            line-height: 1.1;
        }
    }



    &__image {
        height: 400px;
        width: 600px;

        @include tablet {
            width: 350px;
        }

        @include mobile {
            height: 230px;
            width: 305px;
        }

        img {
            height: 100%;
            object-fit: cover;
        }


    }

    &__desc {
        font-family: var(--font-family-accent);
        font-weight: 400;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;

        min-height: 200px;

        @include tablet {
            font-size: 14px;
        }

        @include mobile {
            line-height: 1.14286;
            max-width: 600px;
            min-height: 210px;
        }
    }
}

.mySwiper .counter {
    position: absolute;
    top: 40px;
    left: 25%;
    font-weight: 200;
    font-size: 14px;
    line-height: 2.14286;
    text-align: center;
    z-index: 20;

    @include tablet {
        left: calc(50% + 146px);
    }

    @include mobile {
        left: 50%;
        transform: translateX(-50%);
        top: 45%;
        line-height: 1.14286;
    }

    &__separator {
        margin-left: 10px;
        color: rgba(255, 255, 255, 0.55);
    }

}

.mySwiper .counter .swiper-pagination-current {
    color: var(--color-white);
}

.mySwiper .counter .swiper-pagination-total {
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.55);
}

.pin-container {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
