@use "../helpers"as *;

.scroll-section {
    position: relative;
}

.pin-container .container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fixed-controls {
    position: absolute;
    top: 50%;
    left: 16px;
    right: 16px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;

    @include laptop-s {
        top: 40px;
        bottom: 40px;
        left: 0;
        right: 0;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        transform: none;
    }

    @include mobile {}

    &__title {
        font-weight: 400;
        font-size: 26px;
        line-height: 1.15385;

        @include mobile {
            font-size: 14px;
            line-height: 1.14286;
        }
    }
}

.pin-container {
    position: relative;
    height: 100vh;
    min-height: 1000px;
    overflow: hidden;

    &__image-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__info-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--color-base);
        padding: rem(90) 40px 65px 40px;
        max-width: max-content;
        // min-height: 650px;
        max-height: 900px;
        text-align: center;

        @include mobile {
            position: absolute;
            top: 50%;
            left: 50%;
            bottom: auto;
            transform: translate(-50%, -50%);
            min-width: 328px;
            padding: rem(120) 12px 60px 12px;
        }
    }
}

.image-wrapper__inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &--active {
        opacity: 1;
    }

    picture {
        display: block;
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.info-content {
    display: none;

    .h3 {
        margin-bottom: 20px;
        font-weight: 200;
        font-size: 48px;
        line-height: 1.04;

        @include mobile {
            margin-bottom: 40px;
            font-size: 20px;
            line-height: 1.1;
        }
    }

    &--active {
        display: block;
    }

    &__image {
        margin-bottom: 60px;

        @include mobile {
            margin-bottom: 40px;
        }
    }

    &__desc {
        @include fluid-text(22, 14);
        font-family: var(--font-family-accent);
        font-weight: 400;
        // font-size: 26px;
        line-height: 1.15;
        text-align: center;
        max-width: 550px;
        min-height: 200px;

        @include mobile {
            // font-size: 14px;
            line-height: 1.14286;
        }
    }
}

.counter {
    position: absolute;
    top: rem(40);
    left: 50%;
    transform: translateX(-50%);
    font-weight: 200;
    font-size: 26px;
    line-height: 1.15385;

    text-align: center;

    @include mobile {
        font-size: 14px;
        line-height: 1.14286;
    }

    &__current {
        color: var(--color-white);
    }

    &__separator {
        margin-left: 10px;
        color: rgba(255, 255, 255, 0.55);
    }

    &__total {
        margin-left: 10px;
        color: rgba(255, 255, 255, 0.55);
    }
}