@use "../helpers"as *;

.scroll-section {
    position: relative;
}

.pin-container .container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fixed-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;

    &__title {
        font-weight: 400;
        font-size: 26px;
        line-height: 1.15385;
    }
}

.pin-container {
    position: relative;
    height: 100vh;
    overflow: hidden;

    &__image-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__info-box {
        position: absolute;
        top: rem(100);
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--color-base);
        padding: rem(125) 40px;
        max-width: 32.81vw;
        text-align: center;
    }
}

.image-wrapper__inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &--active {
        opacity: 1;
    }
}

.info-content {
    display: none;

    .h3 {
        margin-bottom: 60px;
        font-weight: 200;
        font-size: 48px;
        line-height: 1.04;
    }

    &--active {
        display: block;
    }

    &__image {
        margin-bottom: 60px;
    }

    &__desc {
        font-family: var(--font-family-accent);
        font-weight: 400;
        font-size: 26px;
        line-height: 1.15;
        text-align: center;
    }
}

.counter {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 200;
    font-size: 26px;
    line-height: 1.15385;

    text-align: center;

    &__current {
        color: var(--color-white);
    }

    &__separator {
        margin-left: 10px;
        color: rgba(255, 255, 255, 0.55);
    }

    &__total {
        margin-left: 10px;
        color: rgba(255, 255, 255, 0.55);
    }
}