@use "../helpers"as *;

.workflow-gallery {
    background-color: var(--color-white);
    padding-block: rem(140);

    @include tablet {
        padding-block: 60px;
    }

    @include mobile {
        padding-block: 40px;
    }

    &__wrap {
        width: 100%;
    }

    &__swiper {
        position: relative;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 324px 324px;
        align-content: center;
        gap: rem(32);
        height: auto;
        width: 100%;

        @include tablet {
            height: auto;
            display: flex;
            flex-wrap: wrap;
        }

        @include mobile {
            justify-content: center;
        }

        .workflow-gallery__item:nth-child(1) {
            grid-column: 1 / span 2;
            grid-row: 1 / 1;
        }

        .workflow-gallery__item:nth-child(2) {
            grid-column: 1 / span 2;
            grid-row: 2/ 2;
        }

        .workflow-gallery__item:nth-child(3) {

            grid-column: 3 / span 2;
            grid-row: 1 / 3;
        }

        .workflow-gallery__item:nth-child(4) {
            grid-column: 5 / span 2;
            grid-row: 1 / 1;
        }

        .workflow-gallery__item:nth-child(5) {
            grid-column: 7 / span 2;
            grid-row: 1 / 1;
        }

        .workflow-gallery__item:nth-child(6) {
            grid-column: 5 / span 4;
            grid-row: 2/ 2;

        }

        .workflow-gallery__item:nth-child(7) {
            grid-column: 9 / span 2;
            grid-row: 1 / 1;

        }
    }

    &__item {
        position: relative;
        display: grid;
        cursor: pointer;

        @include tablet {
            width: 30%;
            // min-width: 280px;
            // height: 280px;
            aspect-ratio: 1;
            overflow: hidden;
        }

        @include mobile {
            width: auto;
            // min-width: 280px;
            height: 324px;
            aspect-ratio: 1;
        }
    }

    &__slide-image {
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__desc {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        box-sizing: border-box;

        h4 {
            margin-bottom: 10px;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.5;

            @include tablet {
                font-size: 20px;
                line-height: 1.2963;
            }
        }

        p {
            word-break: break-all;
            font-family: var(--font-family-accent);
            font-weight: 400;
            font-size: 16px;
        }
    }

    .container-nav {
        position: absolute;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 324px 324px;
        align-content: center;
        gap: 32px;
        pointer-events: none;
    }

    .container-nav.container {
        padding-inline: 0;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--color-base);

        grid-column: 9 / span 2;
        grid-row: 2;
        cursor: pointer;
        pointer-events: auto;

        .next {
            font-weight: 400;
            font-size: 20px;
            color: var(--color-base);
            line-height: 1.5;
            text-align: center;
            max-width: 180px;
            text-transform: uppercase;
            
        }
    }
}

/* Скрытые элементы Fancybox */
.fancybox-source {
    display: none;
}