@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями и видео
  */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
   Убираем скачок интерфейса по горизонтали
   при появлении / исчезновении скроллбара
  */
  scrollbar-gutter: stable;
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
}

/**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
a:where([class]) {
  display: inline-flex;
}

/**
   Курсор-рука при наведении на элемент
  */
button,
label {
  cursor: pointer;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут fill со значением 'none' или начинается с 'url')
  */
/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут stroke со значением 'none')
  */
/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Приведение рамок таблиц в классический 'collapse' вид
  */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "EtudeNoire";
  src: url("../fonts/EtudeNoire-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "EtudeNoire";
  src: url("../fonts/EtudeNoire.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "EtudeNoire";
  src: url("../fonts/EtudeNoire-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "EtudeNoire";
  src: url("../fonts/EtudeNoire-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-base: #84644e;
  --color-white: #FFFFFF;
  --color-light-gray: #D9D9D9;
  --color-light-gray-2: #BDBDBD;
  --color-gray: #696969;
  --font-family-base: "EtudeNoire", sans-serif;
  --font-family-accent: "RobotoCondensed", sans-serif;
  --container-width: 109.25rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.4s;
  --100vw: calc(100vw - var(--scrollbar-width));
  --header-height: 140px;
}
@media (width <= 90.06125rem) {
  :root {
    --container-width: 80rem;
  }
}
@media (width <= 63.99875rem) {
  :root {
    --container-padding-x: 2rem;
    --header-height: 100px;
  }
}
@media (width <= 47.99875rem) {
  :root {
    --container-padding-x: 1rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  width: 100%;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

html.no-scroll {
  position: fixed;
  inset: 0;
  overflow: hidden;
}

@media (width <= 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

.visible-mobile-only {
  display: none !important;
}
@media (width <= 47.99875rem) {
  .visible-mobile-only {
    display: block !important;
  }
}

@media (width <= 90.06125rem) {
  .visible-laptop-s {
    display: none !important;
  }
}

@media (width <= 63.99875rem) {
  .visible-tablet {
    display: none !important;
  }
}

html {
  scroll-behavior: initial;
}

body {
  font-size: clamp(0.7777777778rem, 0.6239316239rem + 0.7692307692vw, 1.4444444444rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-white);
  background-color: var(--color-base);
}

main {
  flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-white);
}

h1,
.h1 {
  font-size: clamp(3.5555555556rem, 3.1452991453rem + 2.0512820513vw, 5.3333333333rem);
  line-height: 0.9;
  font-weight: 400;
}
@media (width <= 47.99875rem) {
  h1,
  .h1 {
    line-height: 1.35;
  }
}

h2,
.h2 {
  font-size: 20px;
  line-height: 1.15;
  font-weight: 400;
}
@media (width <= 47.99875rem) {
  h2,
  .h2 {
    font-size: 14px;
    line-height: 1.14;
  }
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

button,
button:active,
button:focus {
  border: none;
}

a {
  color: inherit;
}
a[class] {
  text-decoration: none;
}

.section {
  padding-block: 140px;
}
@media (width <= 47.99875rem) {
  .section {
    padding-block: 40px;
  }
}

:focus-visible {
  outline: 0.125rem dashed var(--color-white);
  outline-offset: 0.125rem;
  transition-duration: 0s !important;
}

.link-hover {
  position: relative;
  text-decoration: none;
  width: fit-content;
}

.link-hover::before {
  background: currentColor;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  pointer-events: none;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.8s cubic-bezier(0.24, 0.43, 0.15, 0.97);
  width: 100%;
}

.link-hover:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.icon {
  display: inline-flex;
  align-items: center;
  column-gap: 20px;
}
.icon::after {
  --size: 16px;
  width: var(--size);
  height: var(--size);
  content: "";
  flex-shrink: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon--arrow::after {
  background-image: url("./../icons/arrow-top-right.svg");
}
.icon--ellipse {
  column-gap: 30px;
}
.icon--ellipse::after {
  background-image: url("./../icons/ellipse.svg");
}
.icon--down::after {
  background-image: url("./../icons/arrow-down.svg");
}
.icon--arrow-left {
  cursor: pointer;
}
.icon--arrow-left::after {
  height: 64px;
  width: 32px;
  background-image: url("./../icons/arrow-left.svg");
}
@media (width <= 47.99875rem) {
  .icon--arrow-left::after {
    height: 24px;
    width: 12px;
  }
}
.icon--arrow-right {
  cursor: pointer;
}
.icon--arrow-right::after {
  height: 64px;
  width: 32px;
  background-image: url("./../icons/arrow-right.svg");
}
@media (width <= 47.99875rem) {
  .icon--arrow-right::after {
    height: 24px;
    width: 12px;
  }
}

.logo {
  max-width: 258px;
}
@media (width <= 47.99875rem) {
  .logo {
    max-width: 129px;
    height: 18px;
  }
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 23px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.9;
  white-space: nowrap;
  border: 1px solid var(--color-white);
}
.button--animated {
  background: transparent;
  overflow: hidden;
  z-index: 1;
}
@media (width <= 47.99875rem) {
  .button {
    font-size: 20px;
  }
}

.button__border-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.button__border-animation svg {
  width: 100%;
  height: 100%;
}
.button__border-animation .shape {
  fill: none;
  stroke: currentColor;
  stroke-width: 2px;
  stroke-dasharray: 760;
  stroke-dashoffset: 760;
  transition: stroke-dashoffset 0.4s linear;
}

.button--animated:hover .button__border-animation {
  opacity: 1;
}

.button--animated:hover .shape {
  stroke-dashoffset: 0;
}

/*---------HEADER (START)--------*/
.header {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-block: 52px;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.header__menu-link {
  font-size: 16px;
}

/*---------HEADER (END)--------*/
/*---------MOBILE MENU (START)--------*/
.menu-humb {
  display: none;
}
@media (width <= 63.99875rem) {
  .menu-humb {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: background 0.2s ease-in-out;
  }
}

.menu-mob {
  display: none;
}
@media (width <= 63.99875rem) {
  .menu-mob {
    display: block;
  }
}

.icon-humb {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.icon-humb__line {
  width: 100%;
  height: 1px;
  background: var(--color-white);
  border-radius: 2px;
}

.menu-mob {
  background: var(--color-base);
  position: fixed;
  top: var(--header-height);
  width: 100%;
  height: 100vh;
  padding-bottom: 60px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  overflow: hidden;
}
.menu-mob__inner {
  padding: 16px 16px 60px 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
  overflow-y: auto;
}
.menu-mob__list {
  display: flex;
  flex-direction: column;
}
.menu-mob__item {
  padding-block: 24px;
  border-bottom: 1px solid var(--color-white);
}
.menu-mob__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
}
.menu-mob__bottom {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.menu-mob__bottom .h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 2.14286;
}
.menu-mob__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.menu-mob__divider {
  font-size: 15px;
  line-height: 1;
}
.menu-mob__phone, .menu-mob__mail {
  font-weight: 400;
  font-size: 14px;
}

.menu-mob.active {
  opacity: 1;
  z-index: 99;
  visibility: visible;
  overscroll-behavior: none;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.button-mob {
  display: flex;
  justify-content: space-between;
}

/*---------MOBILE MENU (END)--------*/
.marquee {
  display: inline-flex;
  white-space: nowrap;
  will-change: transform;
}

.marquee-text {
  text-transform: uppercase;
  padding-right: 30px;
  flex-shrink: 0;
}

.hero {
  position: relative;
  display: flex;
  align-items: end;
  overflow: hidden;
  height: 100vh;
  min-height: 600px;
  z-index: 0;
  /* Настройки фонового изображения */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* Оптимизация производительности */
  will-change: transform;
  backface-visibility: hidden;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.hero__content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__header {
  padding-bottom: 50px;
  border-bottom: 1px solid var(--color-white);
}
.hero__footer {
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px;
}
.hero__footer .h2 {
  display: inline-flex;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  max-width: 640px;
}
@media (width <= 47.99875rem) {
  .hero__footer .h2 {
    max-width: 300px;
  }
}

.text-section__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 25px;
  align-items: start;
}
@media (width <= 47.99875rem) {
  .text-section__content {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
.text-section__title {
  grid-column: 1/span 4;
}
@media (width <= 47.99875rem) {
  .text-section__title {
    grid-column: 1;
  }
}
.text-section__text {
  grid-column: 5/span 8;
}
@media (width <= 47.99875rem) {
  .text-section__text {
    grid-column: 1;
  }
}
.text-section__paragraph--lead {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.04;
  margin-bottom: 55px;
}
@media (width <= 63.99875rem) {
  .text-section__paragraph--lead {
    font-size: 30px;
  }
}
@media (width <= 47.99875rem) {
  .text-section__paragraph--lead {
    font-size: 20px;
    line-height: 1.1;
  }
}
.text-section__paragraph--desc {
  font-size: 20px;
  font-family: var(--font-family-accent);
  font-weight: 400;
  line-height: 1.15385;
  width: 100%;
  max-width: 530px;
}
@media (width <= 47.99875rem) {
  .text-section__paragraph--desc {
    font-size: 14px;
    line-height: 1.14;
  }
}

.steps-section {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.steps-section__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 25px;
  align-items: stretch;
  padding-top: 40px;
}
@media (width <= 47.99875rem) {
  .steps-section__grid {
    padding-top: 50px;
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
}
.steps-section__left {
  grid-column: 1/span 3;
  position: relative;
  height: 100%;
}
@media (width <= 47.99875rem) {
  .steps-section__left {
    grid-column: 1;
  }
}
.steps-section__image-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
@media (width <= 47.99875rem) {
  .steps-section__image-wrapper {
    max-height: 235px;
  }
}
.steps-section__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.steps-section__right {
  grid-column: 5/span 8;
  display: flex;
  flex-direction: column;
}
@media (width <= 47.99875rem) {
  .steps-section__right {
    grid-column: 1;
  }
}

.steps-list {
  counter-reset: step-counter;
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
}
@media (width <= 47.99875rem) {
  .steps-list {
    grid-template-columns: 1fr;
  }
}
.steps-list__item {
  counter-increment: step-counter;
  display: flex;
  align-items: center;
  padding-block: 25px;
  border-top: 1px solid var(--color-white);
}
.steps-list__item:last-child {
  border-bottom: 1px solid var(--color-white);
}
@media (width <= 47.99875rem) {
  .steps-list__item {
    justify-content: space-between;
    text-align: end;
    padding-block: 14px;
  }
}
.steps-list__number {
  font-size: 20px;
  font-weight: 200;
  line-height: 0.9;
  margin-right: clamp(4.2777777778rem, 1.8034188034rem + 12.3717948718vw, 15rem);
  width: 30px;
}
@media (width <= 47.99875rem) {
  .steps-list__number {
    line-height: 1;
    margin-right: 20px;
  }
}
.steps-list__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 0.9;
}
@media (width <= 47.99875rem) {
  .steps-list__text {
    font-size: 16px;
    line-height: 1;
  }
}

.scroll-section {
  position: relative;
}

.pin-container {
  position: relative;
  overflow: hidden;
}

.pin-container .swiper-button-next,
.pin-container .swiper-button-prev {
  color: var(--color-white);
}

.pin-container__image-wrapper.mySwiper2 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mySwiper2 .swiper-wrapper .image {
  height: 100vh;
  min-height: 730px;
  transition: opacity 0.5s ease-in-out;
}
.mySwiper2 .swiper-wrapper .image picture {
  display: block;
  width: 100%;
  height: 100%;
}
.mySwiper2 .swiper-wrapper .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.mySwiper.pin-container__info-box {
  position: absolute;
  width: 75vw;
  max-width: 1440px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-base);
  padding: 40px;
  column-gap: 40px;
  text-align: center;
}
@media (width <= 47.99875rem) {
  .mySwiper.pin-container__info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 40px 20px;
  }
}

.mySwiper .info-content {
  display: flex;
  gap: 40px;
}
@media (width <= 47.99875rem) {
  .mySwiper .info-content {
    flex-direction: column;
    gap: 20px;
  }
}
.mySwiper .info-content__right {
  width: 37.5vw;
  padding-top: 70px;
  position: relative;
}
@media (width <= 63.99875rem) {
  .mySwiper .info-content__right {
    width: 350px;
  }
}
@media (width <= 47.99875rem) {
  .mySwiper .info-content__right {
    padding-top: 76px;
    width: 100%;
  }
}
.mySwiper .info-content .h3 {
  margin-bottom: 40px;
  font-weight: 200;
  font-size: 32px;
  line-height: 1.5625;
}
@media (width <= 63.99875rem) {
  .mySwiper .info-content .h3 {
    margin-bottom: 20px;
  }
}
@media (width <= 47.99875rem) {
  .mySwiper .info-content .h3 {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.1;
  }
}
.mySwiper .info-content__image {
  height: 400px;
  width: 600px;
  align-self: center;
}
@media (width <= 63.99875rem) {
  .mySwiper .info-content__image {
    width: 350px;
  }
}
@media (width <= 47.99875rem) {
  .mySwiper .info-content__image {
    height: 230px;
    width: 305px;
  }
}
@media (width <= 30.06125rem) {
  .mySwiper .info-content__image {
    width: 260px;
  }
}
.mySwiper .info-content__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.mySwiper .info-content__desc {
  font-family: var(--font-family-accent);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  min-height: 200px;
}
@media (width <= 63.99875rem) {
  .mySwiper .info-content__desc {
    font-size: 14px;
  }
}
@media (width <= 47.99875rem) {
  .mySwiper .info-content__desc {
    line-height: 1.14286;
    max-width: 600px;
    min-height: 210px;
  }
}

.mySwiper .counter {
  position: absolute;
  width: auto;
  top: 40px;
  left: 70%;
  font-weight: 200;
  font-size: 14px;
  line-height: 2.14286;
  text-align: center;
  z-index: 20;
}
@media (width <= 47.99875rem) {
  .mySwiper .counter {
    left: 50%;
    transform: translateX(-50%);
    top: 45%;
    line-height: 1.14286;
  }
}
.mySwiper .counter__separator {
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.55);
}

.mySwiper .counter .swiper-pagination-current {
  color: var(--color-white);
}

.mySwiper .counter .swiper-pagination-total {
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.55);
}

.workflow-gallery {
  background-color: var(--color-white);
  padding-block: 8.75rem;
}
@media (width <= 63.99875rem) {
  .workflow-gallery {
    padding-block: 60px;
  }
}
@media (width <= 47.99875rem) {
  .workflow-gallery {
    padding-block: 40px;
  }
}
.workflow-gallery__wrap {
  width: 100%;
}
.workflow-gallery__swiper {
  position: relative;
}
@media (width <= 47.99875rem) {
  .workflow-gallery__swiper .workflow-gallery__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 324px);
    justify-items: center;
  }
}
.workflow-gallery__swiper .swiper-slide {
  opacity: 0 !important;
  transition: opacity 0.5s ease;
}
.workflow-gallery__swiper .swiper-slide-active {
  opacity: 1 !important;
  z-index: 2;
}
.workflow-gallery__swiper .swiper-slide-prev, .workflow-gallery__swiper .swiper-slide-next {
  opacity: 0 !important;
  z-index: 1;
}
.workflow-gallery__list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 324px 324px;
  align-content: center;
  gap: 2rem;
  height: auto;
  width: 100%;
}
@media (width <= 63.99875rem) {
  .workflow-gallery__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 280px);
  }
}
@media (width <= 47.99875rem) {
  .workflow-gallery__list .workflow-gallery__item {
    grid-column: 1 !important;
    grid-row: auto !important;
  }
}
.workflow-gallery__list .workflow-gallery__item:nth-child(1) {
  grid-column: 1/span 2;
  grid-row: 1/1;
}
@media (width <= 63.99875rem) {
  .workflow-gallery__list .workflow-gallery__item:nth-child(1) {
    grid-column: 1/2;
  }
}
.workflow-gallery__list .workflow-gallery__item:nth-child(2) {
  grid-column: 1/span 2;
  grid-row: 2/2;
}
@media (width <= 63.99875rem) {
  .workflow-gallery__list .workflow-gallery__item:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1;
  }
}
.workflow-gallery__list .workflow-gallery__item:nth-child(3) {
  grid-column: 3/span 2;
  grid-row: 1/3;
}
@media (width <= 63.99875rem) {
  .workflow-gallery__list .workflow-gallery__item:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1;
  }
}
.workflow-gallery__list .workflow-gallery__item:nth-child(4) {
  grid-column: 5/span 2;
  grid-row: 1/1;
}
@media (width <= 63.99875rem) {
  .workflow-gallery__list .workflow-gallery__item:nth-child(4) {
    grid-column: 1/2;
    grid-row: 2;
  }
}
.workflow-gallery__list .workflow-gallery__item:nth-child(5) {
  grid-column: 7/span 2;
  grid-row: 1/1;
}
@media (width <= 63.99875rem) {
  .workflow-gallery__list .workflow-gallery__item:nth-child(5) {
    grid-column: 2/3;
    grid-row: 2;
  }
}
.workflow-gallery__list .workflow-gallery__item:nth-child(6) {
  grid-column: 5/span 4;
  grid-row: 2/2;
}
@media (width <= 63.99875rem) {
  .workflow-gallery__list .workflow-gallery__item:nth-child(6) {
    grid-column: 3/4;
    grid-row: 2;
  }
}
.workflow-gallery__list .workflow-gallery__item:nth-child(7) {
  grid-column: 9/span 2;
  grid-row: 1/1;
}
@media (width <= 63.99875rem) {
  .workflow-gallery__list .workflow-gallery__item:nth-child(7) {
    grid-column: 1/2;
    grid-row: 3;
  }
}
.workflow-gallery__list .workflow-gallery__item:nth-child(8) {
  grid-column: 9/span 2;
  grid-row: 2;
}
@media (width <= 63.99875rem) {
  .workflow-gallery__list .workflow-gallery__item:nth-child(8) {
    grid-column: 2/3;
    grid-row: 3;
  }
}
.workflow-gallery__item {
  position: relative;
  display: grid;
  cursor: pointer;
}
@media (width <= 63.99875rem) {
  .workflow-gallery__item {
    overflow: hidden;
  }
}
@media (width <= 47.99875rem) {
  .workflow-gallery__item {
    width: auto;
    height: 324px;
    aspect-ratio: 1;
  }
}
.workflow-gallery__slide-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.workflow-gallery__desc {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-inline: 20px;
  bottom: 20px;
  box-sizing: border-box;
}
.workflow-gallery__desc h4 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}
@media (width <= 63.99875rem) {
  .workflow-gallery__desc h4 {
    font-size: 20px;
    line-height: 1.2963;
  }
}
.workflow-gallery__desc p {
  word-break: break-all;
  font-family: var(--font-family-accent);
  font-weight: 400;
  font-size: 16px;
}
.workflow-gallery .container-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.workflow-gallery__nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.workflow-gallery .container-nav.container {
  padding-inline: 0;
}

/* Скрытые элементы Fancybox */
.fancybox-source {
  display: none;
}

.contact-section {
  background-color: var(--color-white);
}
.contact-section__grid {
  display: flex;
  align-items: stretch;
}
@media (width <= 63.99875rem) {
  .contact-section__grid {
    flex-direction: column;
  }
}
.contact-section__image-col {
  width: 50%;
  display: grid;
}
@media (width <= 63.99875rem) {
  .contact-section__image-col {
    width: 100%;
  }
}
.contact-section__form-col {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 40px;
}
@media (width <= 63.99875rem) {
  .contact-section__form-col {
    width: 100%;
    padding-inline: 16px;
  }
}
@media (width <= 47.99875rem) {
  .contact-section__form-col {
    padding-block: 20px;
  }
}
.contact-section__image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media (width <= 63.99875rem) {
  .contact-section__image-wrapper {
    aspect-ratio: 8/5;
  }
}
@media (width <= 47.99875rem) {
  .contact-section__image-wrapper {
    height: auto;
    aspect-ratio: 9/10;
  }
}
.contact-section__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.contact-form {
  width: 560px;
}
@media (width <= 90.06125rem) {
  .contact-form {
    width: 40vw;
  }
}
@media (width <= 63.99875rem) {
  .contact-form {
    min-width: 535px;
  }
}
@media (width <= 47.99875rem) {
  .contact-form {
    max-width: 100%;
    min-width: 100%;
  }
}
.contact-form__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.04167;
  color: var(--color-gray);
  margin-bottom: 40px;
}
@media (width <= 47.99875rem) {
  .contact-form__title {
    margin-bottom: 20px;
  }
}
.contact-form__content {
  font-family: var(--font-family-accent);
  font-weight: 400;
}
.contact-form__field {
  margin-bottom: 20px;
}
.contact-form__label {
  display: block;
  font-size: 16px;
  line-height: 1.11111;
  color: var(--color-gray);
  margin-bottom: 20px;
}
@media (width <= 47.99875rem) {
  .contact-form__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }
}
.contact-form__input {
  width: 100%;
  padding: 25px 40px;
  border: none;
  border-bottom: 1px solid var(--color-gray);
  background-color: var(--color-light-gray-2);
  font-size: 16px;
  line-height: 1.11111;
  color: var(--color-gray);
  transition: border-color 0.3s;
  outline: transparent;
}
@media (width <= 47.99875rem) {
  .contact-form__input {
    padding: 15px 20px;
    height: 40px;
  }
}
.contact-form__checkbox {
  display: flex;
  align-items: center;
  margin: 20px 0;
  cursor: pointer;
  user-select: none;
  transition: opacity 0.3s ease;
}
.contact-form__checkbox:hover {
  opacity: 0.9;
}
@media (width <= 47.99875rem) {
  .contact-form__checkbox {
    margin: 20px 0;
  }
}
.contact-form__checkbox-input {
  appearance: none;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-gray);
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.contact-form__checkbox-input:checked {
  background-color: var(--color-base);
  border-color: var(--color-base);
}
.contact-form__checkbox-input:checked::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 6px;
  border-left: 2px solid var(--color-white);
  border-bottom: 2px solid var(--color-white);
  transform: rotate(-45deg);
  margin-top: -2px;
  transition: all 0.2s ease;
}
.contact-form__checkbox-input:focus-visible {
  outline: 2px solid rgba(196, 168, 126, 0.5);
  outline-offset: 2px;
}
.contact-form__checkbox-label {
  font-size: 16px;
  color: var(--color-gray);
  line-height: 1.4;
}
.contact-form__checkbox-label a {
  text-decoration: underline;
}
@media (width <= 47.99875rem) {
  .contact-form__checkbox-label {
    font-weight: 400;
    line-height: 1.25;
  }
}
.contact-form__submit {
  background-color: var(--color-gray);
  color: var(--color-white);
  border: none;
  width: 100%;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
@media (width <= 47.99875rem) {
  .contact-form__submit {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 400;
    line-height: 0;
  }
}
@media (width <= 47.99875rem) {
  .contact-form__submit .icon::after {
    --size: 14px;
  }
}
.contact-form__tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}
@media (width <= 47.99875rem) {
  .contact-form__tabs {
    margin-bottom: 20px;
  }
}
.contact-form__tab {
  padding-block: 23px;
  background: none;
  border: none;
  font-size: 16px;
  font-family: var(--font-family-accent);
  line-height: 1.2;
  color: var(--color-gray);
  background: var(--color-light-gray-2);
  cursor: pointer;
  transition: all 0.2s;
}
@media (width <= 47.99875rem) {
  .contact-form__tab {
    padding-block: 15px;
    font-size: 14px;
    line-height: 0.8;
  }
}
.contact-form__tab.active {
  color: var(--color-white);
  background: var(--color-gray);
}
.contact-form__pane {
  display: none;
}
.contact-form__pane.active {
  display: block;
}
.contact-form__textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  min-height: 120px;
  resize: vertical;
  transition: border-color 0.3s;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  /* Стили нижней части */
}
@media (width <= 47.99875rem) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.footer__top {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 25px;
  margin-bottom: 40px;
}
@media (width <= 63.99875rem) {
  .footer__top {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}
@media (width <= 47.99875rem) {
  .footer__top {
    grid-template-columns: 1fr;
    margin-bottom: 0px;
    gap: 0;
  }
}
.footer__logo-col {
  grid-column: span 4;
}
@media (width <= 63.99875rem) {
  .footer__logo-col {
    grid-column: span 2;
  }
}
@media (width <= 47.99875rem) {
  .footer__logo-col {
    grid-column: span 1;
    margin-bottom: 40px;
  }
}
.footer__nav-col {
  grid-column: span 5;
}
@media (width <= 63.99875rem) {
  .footer__nav-col {
    grid-column: span 1;
  }
}
@media (width <= 47.99875rem) {
  .footer__nav-col {
    grid-column: span 1;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--color-white);
  }
}
.footer__contacts-col {
  font-size: 20px;
  grid-column: span 3;
  font-weight: 400;
  white-space: nowrap;
  line-height: 1.15385;
}
@media (width <= 63.99875rem) {
  .footer__contacts-col {
    grid-column: span 1;
  }
}
@media (width <= 47.99875rem) {
  .footer__contacts-col {
    grid-column: span 1;
    padding-block: 40px;
  }
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  border-top: 1px solid var(--color-white);
}
@media (width <= 47.99875rem) {
  .footer__bottom {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 40px;
  }
}
.footer__nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (width <= 47.99875rem) {
  .footer__nav-list {
    row-gap: 20px;
  }
}
.footer__nav-link {
  font-size: 20px;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.04167;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
@media (width <= 47.99875rem) {
  .footer__nav-link {
    line-height: 1.1;
  }
}
.footer__contacts-title {
  margin-bottom: 40px;
}
.footer__contact-link {
  display: block;
  text-decoration: none;
}
.footer__contact-link:not(:last-child) {
  margin-bottom: 40px;
}
.footer__copyright, .footer__legal-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15385;
}
@media (width <= 47.99875rem) {
  .footer__copyright, .footer__legal-link {
    font-size: 14px;
    line-height: 1.14286;
  }
}
.footer__copyright {
  display: flex;
  gap: 40px;
}
@media (width <= 47.99875rem) {
  .footer__copyright {
    flex-direction: column;
    gap: 12px;
  }
}
.footer__copyright .footer__link {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/*# sourceMappingURL=main.css.map */
